<div class="detail tcenter">
	<div class="img-wrapper">
		<img src="{{artist.image_url}}" alt="{{artist.firstname}}" />
	</div>
	<h1>{{artist.username}}</h1>
	<h2>{{artist.firstname}} {{artist.lastname}}</h2>
	<h3>{{artist.country}}</h3>
	<p>{{artist.bio}}</p>
	{{#ifEquals artist.id user.id}}
	<a href="#artists/{{artist.id}}/edit" class="button">edit profile</a>
	{{/ifEquals}}
</div>
<div class="controls">
	<a href="#" class="show-works button">Creations</a>
	<a href="#" class="show-groups button">Groups</a>
	<a href="#" class="show-likes button">Likes</a>
</div>
<div class="toggable">
	<div class="works"></div>
	<div class="groups hidden"></div>
	<div class="likes hidden"></div>
</div>