<form method="post" action="" enctype="multipart/form-data">
	<p class="left">
		<label for="username">Username</label>
		<input type="text" name="username" id="username" value="{{username}}" />
	</p>
	<p class="right">
		<label for="email">Email</label>
		<input type="email" name="email" id="email" value="{{email}}" />
	</p>
	<p class="left">
		<label for="password">Password*</label>
		<input type="password" name="password" id="password" />
	</p>
	<p class="right">
		<label for="password_confirm">Confirm password</label>
		<input type="password" name="password_confirm" id="password_confirm" />
	</p>
	<p class="left">
		<label for="firstname">First name</label>
		<input type="text" name="firstname" id="firstname" value="{{firstname}}" />
	</p>
	<p class="right">
		<label for="lastname">Last name</label>
		<input type="text" name="lastname" id="lastname" value="{{lastname}}" />
	</p>
	<p class="left">
		<label for="bio">Bio</label>
		<textarea name="bio" id="bio">{{bio}}</textarea>
	</p>
	<p class="right">
		<label for="image">Profile pic</label>
		<input type="file" name="image" id="image" />
	</p>
	<div class="clear"></div>
	<p class="left">
		<a href="#artists/{{id}}">Go back</a>
	</p>
	<p class="right">
		<input type="submit" value="Edit" class="button right" />
	</p>
	<div class="clear"></div>
	<p class="info tcenter">
		* leave password empty if you do not wish to change your password
	</p>
</form>
