<a href="#creations/{{id}}">
  {{#ifEquals type "gif"}}
    <img height="350" src="{{image_url}}" alt="{{info}}" />
  {{/ifEquals}}

  {{#ifEquals type "image"}}
    <img src="{{image_url}}" alt="{{info}}" />
  {{/ifEquals}}

  {{#ifEquals type "video"}}
    <video height="350" controls>
      <source src="{{image_url}}" type="video/mp4">
      <source src="{{image_url}}" type="video/ogg">
      Your browser does not support the video tag.
    </video>
  {{/ifEquals}}
</a>
<footer>
  <div><a href="#" class="heart">{{likes}}</a></div>
  <h2>{{title}}</h2>
	<h3>{{user.username}}</h3>
</footer>
