<h1>{{title}}</h1>

<div class="tcenter detail">

{{#ifEquals type "gif"}}
<img height="500" src="{{image_url}}" alt="{{info}}" />
{{/ifEquals}}

{{#ifEquals type "image"}}
<img height="700" src="{{image_url}}" alt="{{info}}" />
{{/ifEquals}}

{{#ifEquals type "video"}}
<video width="320" height="240" controls>
  <source src="{{image_url}}" type="video/mp4">
  <source src="{{image_url}}" type="video/ogg">
  Your browser does not support the video tag.
</video>
{{/ifEquals}}
<footer class="footerDetail">
  <div class="likes"><span>{{likes}}</span> <a href="#" class="heart{{#if alreadyLiked}} liked{{/if}}">&#9825;</a></div>
  <h2><a class="user" href="/the-tunnel/#artists/{{user.id}}">{{user.username}}</a></h2>
  <article>{{info}}</article>
</footer>
</div>
