<a href="#groups/{{id}}" class="left">
	<img src="{{image_url}}" alt="{{info}}" />
</a>
<div class="right">
	<h1><a href="#groups/{{id}}">{{title}}</a></h1>
	<p>{{info}}</p>
	<a href="#" class="join button">Add me</a>
</div>